# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [2]:
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using markdown
- Perform arithmetic operations in Python
- Convert time units using code

## Naru Meghana